*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    /* max-width: 1400px; */
    display:block;
    margin: 0;
    min-height: 100vh;
    background: #191919;
    font-family: sans-serif;
}

.navb{
    width : 100%;
    position : fixed;
    top : 0;
    left : 0 ;
    display : flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #1a1a1a;
}

.link-group{
    list-style: none;
    display: flex;
}

.link a{
    color :antiquewhite;
    text-decoration: none;
    opacity: 0.5;
    text-transform: capitalize;
    padding: 10px 30px;
    margin : 0px 20px ;
    line-height: 80px;
    transition: o.25s;
    font-size: 20px;
}

.link a:hover{
    opacity :1
}

/* hero background image
.bgimage {
    height:100vh;
    background: url('sebastian-svenson-d2w-_1LJioQ-unsplash.jpg');
    background-size:cover;
}
/* text css above hero image*/
/* .hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
} */ 
.home{
    display: flex;
    background: url("sebastian-svenson-d2w-_1LJioQ-unsplash.jpg") no-repeat center;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 0;
}
.home .home-content .text-1{
    font-size: 27px;
    margin : 10px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: 10px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 20px 0;
}
.home .home-content .text-3 span{
    font-size-adjust: 1px ;
    text-shadow: 0 0 11px #fff;
}
.home .home-content a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px; /* for curved border */
    border: 2px solid #3c67e3;
    background: #3c67e3;
}

<!--About-section-->
.about-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.about{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
}

.about-img-container{
    position: relative;
}

.about-info{
    color: #fff;
    opacity: 0.6;
    font-size: 17px;
    line-height: 40px;
}

.about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.download-cv-btn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: #fff;
    border: #000;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
    background: rgba(0, 0, 0, 0.5);
}

.download-cv-btn:hover{
    background: #1a1a1a;
}

/* skill-section */
.skill-section{
    position: relative;
    margin: 100px 0px;
}

.heading{
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 100px;
    
}