*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    /* max-width: 1400px; */
    display:block;
    margin: 0;
    min-height: 100vh;
     background: #191919; 
    font-family: sans-serif;
}

.navb{
    width : 100%;
    position : fixed;
    top : 0;
    left : 0 ;
    display : flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #1a1a1a;
}

.link-group{
    list-style: none;
    display: flex;
}

.link a{
    color :antiquewhite;
    text-decoration: none;
    opacity: 0.5;
    text-transform: capitalize;
    padding: 10px 30px;
    margin : 0px 20px ;
    line-height: 80px;
    transition: o.25s;
    font-size: 20px;
}

.link a:hover{
    opacity :1
}
 
.home{
    display: flex;
    background-image: url("./img/sebastian-svenson-d2w-_1LJioQ-unsplash.jpg");
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 0;
}
.home .home-content .text-1{
    font-size: 27px;
    margin : 10px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: 10px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 20px 0;
}
.home .home-content .text-3 span{
    font-size-adjust: 1px ;
    text-shadow: 0 0 11px #fff;
}



<!--About-section-->
.about-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.about{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
}

.about-img-container{
    position: relative;
}

.about-info{
    color: #fff;
    opacity: 0.6;
    font-size: 17px;
    line-height: 40px;
}

.about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.download-cv-btn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: #fff;
    border: #000;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
    background: rgba(0, 0, 0, 0.5);
}

.download-cv-btn:hover{
    background: #1a1a1a;
}

/* skill-section */
.skill-section{
    position: relative;
    margin: 100px 0px;
}

.heading{
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 100px;
    
}

* skills */

.skill-section{
    position: relative;
    margin: 100px 0;
}

.heading{
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px;
}

.skill-container{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap; */
    color: #fff;
}

.skill-card{
    position: relative;
}

.skill-img{
    display: block;
    margin: auto;
    height: 200px;
    opacity: 0.5;
}

.skill-name{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin: 50px 0 20px;
    color: aliceblue;
}


.skill-level{
    position: absolute;
    top: 100px;
    right: 0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
}

.skill-card:nth-child(1) .skill-level{
    background: #ff4f4f28;
    border-color: #ff4f4f;
    color: #ff4f4f;
}

.skill-card:nth-child(2) .skill-level{
    background: #ffed4f28;
    border-color: #ffed4f;
    color: #ffed4f;
}

.skill-card:nth-child(3) .skill-level{
    background: #52ff4f28;
    border-color: #52ff4f;
    color: #52ff4f;
    margin-right: 50px;
}

.skill-card:nth-child(4) .skill-level{
    background: #4fdfff28;
    border-color: #97C4B8;
    color: #97C4B8;
    margin-right: 70px;
}
.skill-card:nth-child(5) .skill-level{
    background: #4fdfff28;
    border-color: #4fdfff;
    color: #4fdfff;
}

.contact-section {
    position: relative;
    top: 0;
    transition: 1s;
    padding: 100px 150px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
}

.contact-form input , .contact-form textarea{
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    text-transform: capitalize;
    color: #fff;
    padding: 5px 10px;
}

::placeholder{
    color: #fff;
}

#msg{
    height: 280px;
    resize: none;
    font-family: sans-serif;
}

.form-submit-btn{
    background: #52ff4f;
    color: #fff;
    text-transform: capitalize;
    padding: 15px 40px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.map{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}